<div
  class="modal fade"
  id="loginAlert"
  tabindex="-1"
  aria-labelledby="loginAlert"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Jinkies!</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Successful Login Required! If you're new, welcome! Please select the
        option to sign up!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-Primary" data-bs-dismiss="modal">
          Login
        </button>
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<script src="js/dashboard.js"></script>