<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Welcome Back!</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="input-group input-group-lg p-3">
          <span class="input-group-text">E-mail</span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            name="user_email"
            id="inputEmail"
          />
        </div>
        <div class="input-group input-group-lg p-3">
          <span class="input-group-text">Password</span>
          <input
            type="password"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            name="user_password"
            id="inputPassword"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Log In</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Sign Up</button>
      </div>
    </div>
  </div>
</div>