<!-- This template and others are the exact same as before, but now we are using a db instead of hardcoded data -->
<div class="dash-post">
  <div class="dish-card-header">
    <p class="dish-card-date">Post Date</p>
    Blog Post Title
  </div>
  <div class="card-body">
    <p>
      Post:
      {{dashData.post}}
    </p>
  </div>
</div>