{{#each posts as |post|}}
  <div class="container p-3">
    <div class="row text-center g-4 p-3">
      <div>
        <div class="card blog-entry">
          <div class="card-body text-center">
            <div>
              <h3>{{post.title}}</h3>
            </div>
            <h6 class="card-title mb-3">{{post.date}}</h6>
            <p class="card-text">
              {{post.content}}
            </p>
            <a href="#" class="btn btn-dark">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<script src="js/home.js"></script>