<form id="newPost">
  <section class="new-post d-flex-col">
    <div class="container-logins display-flex justify-content-center">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Post Title</label>
        <input
          class="form-control form-control-lg"
          id="inputNewTitle"
          placeholder="Title of Post Here"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">New Post</label>
        <textarea
          class="form-control form-control-lg"
          id="inputNewContent"
          rows="3"
          placeholder="Post Entry Here"
        ></textarea>
      </div>

    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-primary">Submit Post</button>
      </div>
    </div>
  </div>
</form>
<script src="/js/newPost.js"></script>